<div class="container-fluid">
    <!-- Card de restaurante -->
    <div class="row my-4">
        <div class="col-md-4">
            <div class="card cardRest">
                <div class="row no-gutters">
                    <div class="col-md-4 p-3">
                        <img [src]="restaurante.logo" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ restaurante.nombre }}</h5>
                            <p class="card-text"><small class="text-muted"> 10:00 am - 10:00 pm </small></p>
                            <p class="card-text"><small class="text-muted">{{ restaurante.telefono }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col ">
            <span *ngIf="qtyBg !==0 " class="badge badge-pill badge-warning text-white float-right">{{qtyBg}}</span>
            <img data-toggle="modal" data-target="#exampleModalCenter" height="50" class="float-right" src="../../../assets/cart.svg">
        </div>
    </div>

    <!-- Modal -->

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Orden de compra</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <ul class="list-group mb-3">
                    <li class="list-group-item" *ngFor="let orden of items; let i=index">
                        <div class="media">
                            <img [src]="orden.urlFoto" height="50" class="align-self-center mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">{{ orden.nombre }}</h5>
                                <small>Cant: {{ orden.qty }}</small> <br>
                                {{ orden.precio | currency }}
                            </div>
                            <button (click)="deleteItem(orden, i)" class="btn btn-outline-danger btn-sm">-</button>
                        </div>
                    </li>
                </ul>
                <div class="row justify-content-end" *ngIf="qtyBg !== 0; else empty" >
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="text-right">Subtotal: {{orden.subtotal | currency }}</p>
                                <p class="text-right">Iva: {{orden.iva | currency }}</p>
                                <p class="text-right">Total: {{orden.total | currency }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #empty>
                    <div class="row ">
                        <div class="col text-center">
                            No hay productos agregados
                        </div>
                    </div>
                </ng-template>



            </div>
            <div *ngIf="qtyBg !== 0" class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" (click)="payOrden()" class="btn btn-primary">Ordenar</button>
            </div>
          </div>
        </div>
      </div>
    <!-- categorias -->

    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <button (click)="filtrar('')" class="list-group-item list-group-item-action active" id="list-todas-list" data-toggle="list"  role="tab" >Todas</button>
                <button (click)="filtrar('entradas')" class="list-group-item list-group-item-action" id="list-entradas-list" data-toggle="list" role="tab" >Entradas</button>
                <button (click)="filtrar('sopas y ensaladas')" class="list-group-item list-group-item-action" id="list-sopas-list" data-toggle="list" role="tab" >Sopas y ensaladas</button>
                <button (click)="filtrar('postres')" class="list-group-item list-group-item-action" id="list-postres-list" data-toggle="list" role="tab" >Postres</button>
                <button (click)="filtrar('bebidas')" class="list-group-item list-group-item-action" id="list-bebidas-list" data-toggle="list" role="tab" >Bebidas</button>
             </div>
        </div>
        <div class="col-9">
            <!-- Agregar Platillo -->
            <div class="row justify-content-between mb-3">
                <div class="col-md-4">
                    <button (click)="role()" class="btn btn-outline-danger btn-sm  mr-3">
                        {{admin?"Admin":"Cliente"}}
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#staticBackdrop"
                        *ngIf="admin">Agregar platillo</button>
                </div>
            </div>


          <div class="tab-content row  " id="nav-tabContent">



            <div class="col-md-4 mb-4 animated fadeIn fast" *ngFor="let platillo of platillos | filter: categoria">
                <div  class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4 p-3  ">
                            <img [src]="platillo.urlFoto" class="card-img ">
                        </div>
                        <div class="col-md-8 ">

                            <div class="card-body ">
                                <h5 class="card-title"> {{platillo.nombre }}</h5>
                                <p class="card-text"><small class="text-muted"> {{platillo.categoria}} </small></p>
                                <div class="form-group">
                                    <select class="form-control-sm" name="cantidad" id="cantidad" (change)="changeQty($event.target.value)">
                                        <option *ngFor="let quan of [].constructor(5); let i=index" [value]="i+1">{{i+1}}</option>
                                    </select>
                                    </div>
                                <label class="card-text">{{platillo.precio | currency }}</label>

                                <button *ngIf="!admin; else erase" (click)="addCart(platillo)" type="button" class="btn btn-outline-success btn-sm ml-5 float-right">
                                    +
                                </button>
                                <ng-template #erase>
                                    <button  (click)="delete(platillo.id)" type="button" class="btn btn-outline-danger btn-sm ml-5 float-right">
                                        -
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </div>

       <!-- Modal agregar platillo -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Formulario de platillo</h5>
                    <button type="button" class="close" #btnClose data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="nombre">Nombre: </label>
                            <input type="text" name="nombre" [(ngModel)]="platillo.nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <select name="categoria" [(ngModel)]="platillo.categoria" class="form-control"
                                id="exampleFormControlSelect2">
                                <option selected value="entradas">Entradas</option>
                                <option value="sopas y ensaladas">Sopas y ensaladas</option>
                                <option value="postres">Postres</option>
                                <option value="bebidas">Bebidas</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripcion: </label>
                            <textarea class="form-control" name="descripcion" [(ngModel)]="platillo.descripcion"
                                rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="precio">Precio: </label>
                            <input type="text" name="precio" [(ngModel)]="platillo.precio" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="urlFoto">Foto: </label>
                            <input type="text" name="urlFoto" [(ngModel)]="platillo.urlFoto" class="form-control">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" (click)="create()">Agregar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>