<div class="container-fluid">
    <!-- Card de restaurante -->
    <div class="row my-4">
        <div class="col-md-4">
            <div class="card cardRest">
                <div class="row no-gutters">
                    <div class="col-md-4 p-3">
                        <img src="../../../assets/restaurant4.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Le' restaurante</h5>
                            <p class="card-text"><small class="text-muted"> 10:00 am - 10:00 pm </small></p>
                            <p class="card-text"><small class="text-muted"> 8261009040 </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- categorias -->

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>


</div>